
.nav{
    // color:#E4B028 ;
    background-color: #E4B028;
}

ion-icon{
    // height:10rem;
    margin: 2rem;   
}

.tab{
    background-color: #E4B028;
}

.header{
    background-color: #E4B028;
}

