<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button menu="first" class="m">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Catalogue</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  
    <ion-toolbar>
      <ion-title>Catalogue</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-slides pager="true" [options]="slideOpts" color="warning">
    <ion-slide >
      <img src="assets/images_brasil/b3.png" alt="">
    </ion-slide>
    <ion-slide >
      <img src="assets/images_brasil/b8.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images_brasil/b4.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images_brasil/b6.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images_brasil/bBurger.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images_brasil/im.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images_brasil/mBurger.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images_brasil/mdouble.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images_brasil/bur.jpeg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images_brasil/menu.png" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images_brasil/me.jpeg" alt="">
    </ion-slide>
  </ion-slides>
  <ion-item>
    <ion-button color="warning" (click)="filtreProduit('produits')">Catalogue</ion-button>
    <ion-button color="warning" (click)="filtreProduit('menu')">Menu</ion-button>
    <ion-button color="warning" (click)="filtreProduit('burger')">Burger</ion-button>
  </ion-item>
  <ion-item>
    <!-- <ion-label>Prix:</ion-label> -->
    <ion-range (ionChange)="price($event)" dualKnobs="true" min="1100" max="50000" pin="true" color="warning" >
      <ion-icon slot="start" color="warning" name=""></ion-icon>
      <ion-icon slot="end" name="" color="warning"></ion-icon>
    </ion-range>
</ion-item>
  <ng-container *ngFor="let prod of produi">
    <ion-card color="warning">
      <ion-card-header>
        <ion-card-subtitle>{{prod.nom}}</ion-card-subtitle>
        <ion-card-title> {{prod.prix}}F </ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
      <img class="card-img-top" style=" width:100%" src="data:image/PNG;base64,{{prod.image}}">
      <ion-item color="warning" style="height: 4rem;">
          <ion-segment-button>
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button routerLink="/details/{{prod.id}}">
            <ion-icon name="open-outline"></ion-icon>
          </ion-segment-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>
 
</ion-content>
